<li class="list-group-item">
  <div class="container">
    <div class="container order-item-detail">
      <div>
        <%= image_tag product.image.tiny%> 
      </div>
      <div class = "container">
        <h5 class="row"> <%= product.name %> </h5>
        <h5 class="row"> quantity: <%= quantity %> </h5>
        <h5 class="row"> total: <%= humanized_money_with_symbol total.to_i/100.0 %> </h5>
      </div>
    </div>

    <div class="container row">
      <%= product.description %> 
    </div>
  </div>
</li>